<!DOCTYPE html>
<html>

<head>
    <title>Car Wash :: Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/79ec480f66.js" crossorigin="anonymous"></script>
</head>

<style>
    @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

    @font-face {
        font-family: 'NEXON Lv1 Gothic OTF';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    * {
        font-family: "NEXON Lv1 Gothic OTF";
    }

    .make_center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: "Helvetica";
    }


    #chat_btn {
        position: fixed;
        right: 50px;
        bottom: 50px;
        width: 50px;
        height: 50px;
    }

    .chat_btn {
        display: none;
    }

    #chat_btn:hover {
        cursor: pointer;
    }

    .close {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 35px;
        top: -5px;
        z-index: 1;
        background-image: url("https://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/close.png");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    #menu {
        width: 350px;
        height: 100%;
        position: fixed;
        top: 0px;
        right: -352px;
        z-index: 10;
        border: 1px solid #c9c9c9;
        background-color: white;
        text-align: center;
        transition: All 0.2s ease;
        -webkit-transition: All 0.2s ease;
        -moz-transition: All 0.2s ease;
        -o-transition: All 0.2s ease;
    }

    #menu.open {
        right: 0px;
    }

    .table_div {
        max-height: 500px;
        overflow-y: scroll;
        width: 100%;
    }

    .top_rating_div {
        width: 100%;
        height: 500px;

        align-items: flex-end;

    }

    .top_rating_div_element {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .height {
        height: 100%;
    }

    .ele {
        position: absolute;
        bottom: 0;
    }

    /* @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }

    @media (min-width: 992px) {
        .container {
            width: 940px;
        }
    } */

    /*사실 이 블럭은 없어도 된다*/
    /* @media (min-width: 1200px) {
        .container {
            width: 1200px;
        }
    } */

    .feedback_box {
        width: 100%;
        height: 300px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    .check_box {
        width: 100%;
        height: 150px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px gray;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


    }

    .w-btn {
        position: relative;
        border: none;
        display: inline-block;
        padding: 15px 30px;
        box-shadow: 0px 0px 5px gray;
        border-radius: 5px;
        font-family: "paybooc-Light", sans-serif;
        text-decoration: none;
        font-weight: 600;
        transition: 0.25s;
    }

    .w-btn:hover {
        background-color: gray;
        color: white;
    }

    .w-btn-indigo {
        background-color: gainsboro;
        color: black;
    }

    .select_bar {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
    }

    .select_bar1 {
        width: 100%;
        border: 0;
        border-radius: 5px;
        box-shadow: 0px 0px 5px gray;
        margin-bottom: 10px
    }

    .select_local {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        font-size: large;
        margin-bottom: 10px;
    }

    .table_bar {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 0px 5px gray;
        margin-bottom: 10px;
        background-color: gray;
        color: white
    }

    .ranking_div {
        width: 100%;
        height: 500px;
    }

    .ranking_div_mini {
        position: absolute;
        border-radius: 5px;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        margin-bottom: 10px;
        width: 200px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .cup_pos {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        box-shadow: 0px 0px 5px gray;
        background-color: #ebebeb;
        top: -20px;
    }


    #selct_feedback1 {
        display: none;
    }

    .page_name {
        height: 40px;
        display: flex;

    }

    @media screen and (min-width: 990px) {
        .table_bar div {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 0px 5px gray;
            margin-bottom: 10px;
            background-color: gray;
            color: white;
            font-size: 20px;
        }
    }

    @media screen and (max-width: 990px) {
        .table_bar div {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 0px 5px gray;
            margin-bottom: 15px;
            background-color: gray;
            color: white;
            font-size: 15px;
        }
    }

    @media screen and (max-width: 768px) {
        .table_bar div {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 0px 5px gray;
            margin-bottom: 15px;
            background-color: gray;
            color: white;
            font-size: xx-small;
        }
    }
    @media screen and (max-width:720px) {
        .unnoneblock{
            display: none;
        }
    }
    @media screen and (max-width:320px) {
        *{
            display: none;
        }
    }
    .s {
        position: absolute;
        left: 40%;
        top: 60%;
        color: red;
        display: block;
    }
</style>

<body>
    <!-- header -->
    <script>
        let selected_val = $('#sel option:selected').val();
    </script>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark"
        style="position: fixed; top: 0; left: 0; right: 0; z-index: 1;">
        <a href="" class="navbar-brand">Foambble Bobble</a>
        <!-- Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav" style="margin:auto">
                <li class="nav-item"><a href="/search" class="nav-link">세차장 조회</a></li>
                <li class="nav-item"><a href="/shop" class="nav-link">상점</a></li>
                <li class="nav-item"><a href="/ranking" class="nav-link">랭킹</a></li>
                <li class="nav-item"><a href="/club" class="nav-link">동호회</a></li>
            </ul>
        </div>
    </nav>
    <div class="page_name">
        <img src="/static/img/rank.png" alt="" height="100%" style="margin-left: 10px; margin-top:5px">
        <div style="margin-top: 10px; margin-left:10px">
            <h2>세차장 랭킹</h2>
        </div>
    </div>
    <hr>
    <!-- content -->
    <div class="container pt-3">
        <div class="row">
            <!-- left content -->
            <div class="col-sm-4">
                <h3>피드백</h3>
                <select id="selct_feedback" class="form-select select_bar1" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <% for (var i=0; i<region.length; i++) { %>
                        <option value="<%=region[i]%>">
                            <%=region[i]%>
                        </option>
                        <% } %>
                </select>
                <select id="selct_feedback1" class="form-select select_bar1" aria-label="Default select example">
                    <option selected>Open this select menu</option>

                </select>
                <div class="check_box">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck">
                        <label class="form-check-label" for="flexCheck">
                            세차장이 깨끗해요!
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            사장님이 친절해요!
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            가격이 싸요!
                        </label>
                    </div>
                </div>
                <div class="check_box">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="like">
                        <label class="form-check-label" for="flexRadioDefault1">
                            좋아요
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="dislike">
                        <label class="form-check-label" for="flexRadioDefault2">
                            싫어요
                        </label>
                    </div>

                </div>
                <div>
                    <button class="post_submit w-btn w-btn-indigo" type="button" id="openModalBtn" style="width: 100%;">
                        제출하기
                    </button>
                    <!-- 모달 영역 -->
                    <div id="modalBox" class="modal fade" id="myModal" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">제출성공</h4>
                                </div>
                                <div class="modal-body"> 성공적으로 피드백을 전달받았습니다! 순위에 반영후 업체측에 피드백을 전달하겠습니다 </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">확인</button>
                                    <button type="button" class="btn btn-default" id="closeModalBtn">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h3>오늘의 세차장</h3>
                <div class="card" style="width: 100%;">
                    <img src="/static/img/carwash_img1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            소개될 주차장을 지역별로 보세요!
                        </p>
                    </div>
                </div>
            </div>
            <!-- right content -->

            <div class="make_center col-sm-8">
                <div class="ranking_div" style="position: reletive;">
                    <div class="ranking_div_mini"
                        style="z-index:3; top:7%; left:10%;background-image: linear-gradient(to right,#2484fc,#6fa5ec);">
                        <div class="cup_pos">
                            <img src="/static/img/cup_blue.png" class="card-img-top" alt="...">
                        </div>
                        <i class="fa-solid fa-1 fa-5x"></i>
                    </div>
                    <div class="ranking_div_mini" style="z-index:2;top:12% ;left:36%">
                        <i class="fa-solid fa-2 fa-5x"></i>

                    </div>
                    <div class="ranking_div_mini unnoneblock" style="z-index:1; top:17% ;left:62%">
                        <i class="fa-solid fa-3 fa-5x"></i>

                    </div>
                    <div class="s" ;>지역을 선택해주세요!</div>
                </div>
                <div class="select_bar">
                    <div class="select_local">
                        지역 선택
                    </div>
                    <select id="sel" class="form-select select_bar1" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <% for (var i=0; i<region.length; i++) { %>
                            <option value="<%=region[i]%>">
                                <%=region[i]%>
                            </option>
                            <% } %>
                    </select>
                </div>
                <div class="row table_bar">
                    <div class="col-3" style="position:reletive; ">
                        순위
                    </div>
                    <div class="col-5" style="position:reletive; ">
                        이름
                    </div>
                    <div class="col-2" style="position:reletive; ">
                        좋아요
                    </div>
                    <div class="col-2" style="position:reletive; ">
                        싫어요
                    </div>
                </div>

                <!-- <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="col-xs-3" scope="col">순위</th>
                            <th class="col-xs-3" scope="col">이름</th>
                            <th class="col-xs-3" scope="col">좋아요</th>
                            <th class="col-xs-3" scope="col">싫어요</th>
                        </tr>
                    </thead>
                    <tbody class="app_sel" style="height: 200px; o">

                    </tbody>
                </table> -->

                <div class="table_div" style="height: 600px;">
                    <table class="table table-striped table-hover">
                        <tbody class="app_sel">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="jumbotron text-center mt-5 mb-0">
        <h3 class="text-secondary">Foambble Bobble</h3>
        <p>Foambble Bobble Homepage is Designed by <span class="text-primary">6 group</span></p>
    </div>


    <div id="menu">
        <div class="close"></div>
        <div class="container">
            <img id="chat_btn" src="/static/img/chatimg.png" alt="">
            <iframe id="chat" src="https://service.dongledongle.com/carwashchat" frameborder="0" width="100%"
                height="900vh"></iframe>
        </div>
    </div>
    <% var aaaaaa=JSON.stringify(car_washer_name)%>
        <% var aaaaaa1=JSON.stringify(ranking_index)%>
            <% var aaaaaa2=JSON.stringify(rating)%>



                <!-- --------------------------------------------------------------------------------------------------------------->
                <script>
                    $('#openModalBtn').on('click', function () {
                        $('#modalBox').modal('show'); 
                    }); 
                    $('#closeModalBtn').on('click', function () { 
                        $('#modalBox').modal('hide'); 
                    });

                    var c = <%-JSON.stringify(car_washer_name) %>;
                    var ranking_index = '<%-aaaaaa1%>';
                    var ranking_rating = '<%-aaaaaa2%>';
                    console.log($(".card-text"));
                    //var c = JSON.parse(car_washer_name);
                    var r = JSON.parse(ranking_index);
                    var r_r = JSON.parse(ranking_rating);

                    let local;
                    console.log(r_r);
                    $("#sel").change(function () {
                        local = $(this).val()

                        var html = "";
                        for (let index = 0; index < 20; index++) {
                            html += `<tr>
                    <th style="width:20%" scope="row">
                        ${index + 1}
                    </th>
                    <td style="width:50% ;">
                        ${c[local][r_r[local][index]["index"]]["사업장명"]}
                    </td>
                    <td>${r_r[[local]][r[local][index]]["like"]}</td>
                    <td>${r_r[[local]][r[local][index]]["dislike"]}</td>
                </tr>`

                        }
                        $(".app_sel").html(html)

                        let html1 = `<div class="cup_pos">
                            <img src="/static/img/cup_blue.png" class="card-img-top" alt="...">
                        </div>
                        <i class="fa-solid fa-1 fa-5x" style="margin-bottom:10px;"></i>${c[local][r_r[local][0]["index"]]["사업장명"]}`;
                        let html2 = `<i class="fa-solid fa-2 fa-5x" style="margin-bottom:10px;"></i>${c[local][r_r[local][1]["index"]]["사업장명"]}`;
                        let html3 = `<i class="fa-solid fa-3 fa-5x" style="margin-bottom:10px;"></i>${c[local][r_r[local][2]["index"]]["사업장명"]}`;
                        $(".ranking_div_mini").eq(0).html(html1)
                        $(".ranking_div_mini").eq(1).html(html2)
                        $(".ranking_div_mini").eq(2).html(html3)
                        $(".s").css({
                            "display": "none"
                        })
                        $(".card-text").text(`${c[local][r[local][0]]["사업장명"]} 오늘의 최고 goat`)
                    })
                    $("#selct_feedback").change(function () {
                        local = $(this).val()
                        var html = "";
                        for (let index = 0; index < r_r[local].length; index++) {
                            html += `<option value="${index}">
                                ${c[local][r[local][index]]["사업장명"]}
                            </option>`
                        }
                        $("#selct_feedback1").html(html)
                        $("#selct_feedback1").css({
                            "display": "block"
                        })
                    })
                    // 버튼 클릭시 우측에서 슬라이드 나오면서 버튼은 사라짐
                    $('.post_submit').click(function () {
                        // getter
                        var radioVal = $('input[name="flexRadioDefault"]:checked').val();
                        let take_local=$("#selct_feedback").val();
                        let take_carwash_val=$("#selct_feedback1").val();
                        if(radioVal==="like"){
                            for(let i=0;i<r_r[take_local].length;i++){
                                if(r_r[take_local][i]["index"]==take_carwash_val){
                                    r_r[take_local][i]["like"]++;
                                }
                            }
                        }
                        else if(radioVal==="dislike"){
                            for(let i=0;i<r_r[take_local].length;i++){
                                if(r_r[take_local][i]["index"]==take_carwash_val){
                                    r_r[take_local][i]["dislike"]++;
                                }
                            }
                        }
                        console.log(JSON.stringify(r_r));
                        
                        if(radioVal!=undefined){
                            let valualble=JSON.stringify(r_r)
                            $.ajax({
                                url: '/post',
                                dataType:'json',
                                type: 'POST',
                                data: {data:valualble},
                                success: function(result) {
                                    console.log(result)
                               },
                               error: (log)=>{
                                console.log(JSON.stringify(log));
                               }
                               
                            });
                        }

                      });
                    $("#chat_btn").click(function () {
                        $("#menu").addClass("open");
                        $("#chat_btn").addClass("chat_btn");
                        
                    });
                    // X버튼 클릭시 슬라이드 들어가면서 버튼은 생성됨
                    $(".close").click(function () {
                        $("#menu").removeClass("open");
                        $("#chat_btn").removeClass("chat_btn");
                    });
        //값선택
                </script>

</body>

</html>