<!DOCTYPE html>
<html>

<head>
    <title>Car Wash :: Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/79ec480f66.js" crossorigin="anonymous"></script>
</head>

<style>
    @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
    @font-face {
        font-family: 'NEXON Lv1 Gothic OTF';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    * {
        font-family: "NEXON Lv1 Gothic OTF";
    }

    .table_div {
        max-height: 500px;
        overflow-y: scroll;
        width: 100%;
    }

    .make_center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: "Helvetica";
    }

    #chat_btn {
        position: fixed;
        right: 50px;
        bottom: 50px;
        width: 50px;
        height: 50px;
    }

    .chat_btn {
        display: none;
    }

    #chat_btn:hover {
        cursor: pointer;
    }

    .close {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 35px;
        top: -5px;
        z-index: 1;
        background-image: url("https://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/close.png");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    #menu {
        width: 350px;
        height: 100%;
        position: fixed;
        top: 0px;
        right: -352px;
        z-index: 10;
        border: 1px solid #c9c9c9;
        background-color: white;
        text-align: center;
        transition: All 0.2s ease;
        -webkit-transition: All 0.2s ease;
        -moz-transition: All 0.2s ease;
        -o-transition: All 0.2s ease;
    }

    #menu.open {
        right: 0px;
    }




    /* @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }

    @media (min-width: 992px) {
        .container {
            width: 940px;
        }
    } */

    /*사실 이 블럭은 없어도 된다*/
    /* @media (min-width: 1200px) {
        .container {
            width: 1200px;
        }
    } */


    .w-btn {
        position: relative;
        border: none;
        display: inline-block;
        padding: 15px 30px;
        box-shadow: 0px 0px 5px gray;
        border-radius: 5px;
        font-family: "paybooc-Light", sans-serif;
        text-decoration: none;
        font-weight: 600;
        transition: 0.25s;
    }

    .w-btn:hover {
        background-color: gray;
        color: white;
    }

    .w-btn-indigo {
        background-color: gainsboro;
        color: black;
    }

    .search_body_div {
        position: relative;
        width: 100%;
        height: 617px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px gray;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .table_nav_bar {
        width: 100%;
        height: 100px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table_bar {
        position: relative;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 0px 5px gray;
        background-color: gray;
        color: white
    }

    .select_bar {
        display: flex;
        width: 100%;
    }

    .select_bar1 {
        width: 100%;
        border: 0;
        border-radius: 5px;
        box-shadow: 0px 0px 5px gray;
        margin-bottom: 30px;
    }

    .select_local {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        font-size: large;
        margin-bottom: 30px;
    }

    .trans_div{
        width: 100%;
        height: 100px;
        opacity: 0.5;
    }
    @media screen and (min-width: 990px) {
        .table_bar div {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 0px 5px gray;
            background-color: gray;
            color: white;
            font-size: 20px;
        }

        td {
            font-size: 20px;
        }

        th {
            font-size: 20px;
        }
    }

    @media screen and (max-width: 990px) {
        .table_bar div {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 0px 5px gray;
            background-color: gray;
            color: white;
            font-size: 15px;
        }

        td {
            font-size: 15px;
        }

        th {
            font-size: 15px;
        }
        .detailTable *{
            font-size: 15px;
        }
    }

    @media screen and (max-width: 768px) {
        .table_bar div {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 0px 5px gray;
            background-color: gray;
            color: white;
            font-size: xx-small;
        }

        td {
            font-size: 5px;
        }

        th {
            font-size: 5px;
        }
        .detailTable *{
            font-size: 5px;
        }
    }

    @media screen and (max-width: 768px) {
        .table_bar div {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 0px 5px gray;
            background-color: gray;
            color: white;
            font-size: xx-small;
        }

        td {
            font-size: 5px;
        }

        th {
            font-size: 5px;
        }
        .detailTable *{
            font-size: 5px;
        }
    }

    @media screen and (max-width: 300px) {


        * {
            display: none;
        }
    }

    .line {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
    }

    .DetailPage {
        position: relative;
        height: 0;
        overflow: hidden;
        z-index: 1;
    }
    .DetailPage::after {
        width: 100%;
        height: 100%;
        content: "";
        background: url("./static/img/aspart.jpg");
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.2;
      }
    #id {
        display: flex;
        flex-direction: column;
    }

    .detailBtn:hover {
        cursor: pointer;
    }

    .detailDiv1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 60%;
        margin: auto;
        height: 100%;
    }

    .detailDiv2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        height: 100%;

    }
    .contentDiv{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        position: relative;
    }
    .detailTable{
        width: 100%;
        height: 200px;
        box-shadow: 0px 0px 5px gray;
        border-radius: 10px;
    }
    .small_div{
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 0px 0px gray;
        font-weight: bolder;
    }
    .small_div1{
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 0px 0px 0px gray;
        font-weight: bolder;


    }
    .small_div2{
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 1px 0px 0px gray;
        

    }
    .sidepos{
        display: flex;
        position: absolute;
        right: 0;
    }
</style>

<body>
    <!-- header -->
    <script>
        let selected_val = $('#sel option:selected').val();
    </script>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Foambble Bobble</a>
        <!-- Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">공지사항</a></li>
                <li class="nav-item"><a href="#" class="nav-link">갤러리</a></li>
                <li class="nav-item"><a href="#" class="nav-link">앨범</a></li>
            </ul>
        </div>
    </nav>
    <div class="page_name">
        <div style="margin-top: 20px; margin-left:20px;">
            <h2>세차장 검색</h2>
        </div>
    </div>
    <hr>
    <!-- content -->
    <div class="container pt-3">
        <div>
            <div class="select_bar">
                <div class="select_local">
                    지역 선택
                </div>
                <select id="sel" class="form-select select_bar1" aria-label="Default select example"
                    style="margin-right:20px">
                    <option selected>시</option>
                    <% for (var i=0; i<region.length; i++) { %>
                        <option value="<%=region[i]%>">
                            <%=region[i]%>
                        </option>
                        <% } %>
                </select>
                <select id="sel" class="form-select select_bar1" aria-label="Default select example">
                    <option selected>구</option>

                </select>
            </div>
        </div>
        <div class="search_body_div">
            <div class="table_bar" style="display: flex;">
                <div style="position:reletive; width:10%;text-align:center">
                    인덱스
                </div>
                <div style="position:reletive; width:30%;text-align:center ">
                    이름
                </div>
                <div style="position:reletive;text-align:center ;width:40%">
                    지역
                </div>
                <div style="position:reletive;text-align:center; width:20% ">
                    디테일
                </div>
            </div>
            <div class="select_text" style="position: absolute; top:50%;"> 지역을 선택해 주세요</div>
            <div id="table" style="width: 100%; overflow-y:scroll;">

            </div>
        </div>
        <div class="table_nav_bar">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link">이전</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#1" onclick="onClickPage()">1</a></li>
                    <li class="page-item"><a class="page-link" href="#2" onclick="onClickPage()">2</a></li>
                    <li class="page-item"><a class="page-link" href="#3" onclick="onClickPage()">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" style="color: gray;">다음</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- footer -->
    <div class="jumbotron text-center mt-5 mb-0">
        <h3 class="text-secondary">Foambble Bobble</h3>
        <p>Foambble Bobble Homepage is Designed by <span class="text-primary">6 group</span></p>
    </div>
    

    <div id="menu">
        <div class="close"></div>
        <div class="container">
            <img id="chat_btn" src="/static/img/chatimg.png" alt="">
            <iframe id="chat" src="https://service.dongledongle.com/carwashchat" frameborder="0" width="100%"
                height="900vh"></iframe>
        </div>
    </div>



    <!-- --------------------------------------------------------------------------------------------------------------->
    <script>
        var car_washer_name = <%-JSON.stringify(car_washer_name) %>;
        var ranking_index =<%-JSON.stringify(ranking_index) %>;
        var rating =<%-JSON.stringify(rating) %>;

        const onChangeLocal = (local, index) => {
            let html = ``;
            console.log(((index - 1) * 11) + 11);
            console.log(ranking_index[local].length)
            if (((index - 1) * 11) + 11 >= ranking_index[local].length) {
                for (let i = (index - 1) * 11; i < ranking_index[local].length; i++) {
                    if (i % 2 == 0) {
                        html += `<div class="line" style="background-color: #e8e8e8;">
                            <div style="position:reletive; width:10%;text-align:center">
                                ${i}
                            </div>
                            <div style="position:reletive; width:30%;text-align:center ">
                                ${car_washer_name[local][i]["사업장명"]}
                            </div>
                            <div style="position:reletive;text-align:center ;width:40%">
                                ${car_washer_name[local][i]["시도명"] + " " + car_washer_name[local][i]["시군구명"]}
                            </div>
                            <div style="position:reletive;text-align:center; width:20% ">
                                ${"+"}
                            </div>
                    </div>
                    <div class="DetailPage" style="background-color: #e8e8e8;">
                        <div class="detailDiv1">
                            <div class="contentDiv" style="margin-bottom:15px;height:10%">
                                <div class="sidepos">
                                    <div >
                                        <i class="bi bi-hand-thumbs-up-fill"></i> ${rating[local][i]["like"]}
                                    </div>
                                    <div >
                                        <i class="bi bi-hand-thumbs-down"></i> ${rating[local][i]["dislike"]}
                                    </div>
                                </div>
                            </div>
                            <div class="detailTable">
                                <div style="height:20%;width:100%;display:flex;">
                                    <div class="small_div" style="width: 30%;">소재지 도로명 주소</div>
                                    <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["소재지도로명주소"]}</div>
                                </div>
                                <div style="height:20%;width:100%;display:flex;">
                                    <div class="small_div" style="width: 30%;">세차장 전화번호</div>
                                    <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["세차장전화번호"]}</div>
                                </div><div style="height:20%;width:100%;display:flex;">
                                    <div class="small_div" style="width: 30%;">수질 허가번호</div>
                                    <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["수질허가번호"]}</div>
                                </div><div style="height:20%;width:100%;display:flex;">
                                    <div class="small_div" style="width: 30%;">위도</div>
                                    <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["WGS84위도"]}</div>
                                </div><div style="height:20%;width:100%;display:flex;">
                                    <div class="small_div1" style="width: 30%;">경도</div>
                                    <div class="small_div1 small_div2" style="width: 70%;box-shadow: 0px 0px 0px 0px gray;">${car_washer_name[local][i]["WGS84경도"]}</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>`
                    }
                    else {
                        html += `<div class="line" style="background-color: white;">
                            <div style="position:reletive; width:10%;text-align:center">
                                ${i}
                            </div>
                            <div style="position:reletive; width:30%;text-align:center ">
                                ${car_washer_name[local][i]["사업장명"]}
                            </div>
                            <div style="position:reletive;text-align:center ;width:40%">
                                ${car_washer_name[local][i]["시도명"] + " " + car_washer_name[local][i]["시군구명"]}
                            </div>
                            <div style="position:reletive;text-align:center; width:20% ">
                                ${"+"}
                            </div>
                    </div>
                    <div class="DetailPage" style="background-color: #e8e8e8;">
                        <div class="detailDiv1">
                            <div class="contentDiv" style="margin-bottom:15px;height:10%">
                                <div class="sidepos">
                                    <div >
                                        <i class="bi bi-hand-thumbs-up-fill"></i> ${rating[local][i]["like"]}
                                    </div>
                                    <div >
                                        <i class="bi bi-hand-thumbs-down"></i> ${rating[local][i]["dislike"]}
                                    </div>
                                </div>
                            </div>
                            <div class="detailTable">
                                <div style="height:20%;width:100%;display:flex;">
                                    <div class="small_div" style="width: 30%;">소재지 도로명 주소</div>
                                    <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["소재지도로명주소"]}</div>
                                </div>
                                <div style="height:20%;width:100%;display:flex;">
                                    <div class="small_div" style="width: 30%;">세차장 전화번호</div>
                                    <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["세차장전화번호"]}</div>
                                </div><div style="height:20%;width:100%;display:flex;">
                                    <div class="small_div" style="width: 30%;">수질 허가번호</div>
                                    <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["수질허가번호"]}</div>
                                </div><div style="height:20%;width:100%;display:flex;">
                                    <div class="small_div" style="width: 30%;">위도</div>
                                    <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["WGS84위도"]}</div>
                                </div><div style="height:20%;width:100%;display:flex;">
                                    <div class="small_div1" style="width: 30%;">경도</div>
                                    <div class="small_div1 small_div2" style="width: 70%;box-shadow: 0px 0px 0px 0px gray;">${car_washer_name[local][i]["WGS84경도"]}</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>`
                    }
                }
            }
            else {
                for (let i = (index - 1) * 11; i < ((index - 1) * 11) + 11; i++) {
                    if (i % 2 == 0) {
                        html += `<div class="line" style="background-color: #e8e8e8;">
                            <div style="position:reletive; width:10%;text-align:center">
                                ${i}
                            </div>
                            <div style="position:reletive; width:30%;text-align:center ">
                                ${car_washer_name[local][i]["사업장명"]}
                            </div>
                            <div style="position:reletive;text-align:center ;width:40%">
                                ${car_washer_name[local][i]["시도명"] + " " + car_washer_name[local][i]["시군구명"]}
                            </div>
                            <div class="detailBtn" style="position:reletive;text-align:center; width:20% " onclick="onClickDetail(this)">+</div>                            
                        </div>
                        <div class="DetailPage" style="background-color: #e8e8e8;">
                            <div class="detailDiv1">
                                <div class="contentDiv" style="margin-bottom:15px;height:10%">
                                    <div class="sidepos">
                                        <div >
                                            <i class="bi bi-hand-thumbs-up-fill"></i> ${rating[local][i]["like"]}
                                        </div>
                                        <div >
                                            <i class="bi bi-hand-thumbs-down"></i> ${rating[local][i]["dislike"]}
                                        </div>
                                    </div>
                                </div>
                                <div class="detailTable">
                                    <div style="height:20%;width:100%;display:flex;">
                                        <div class="small_div" style="width: 30%;">소재지 도로명 주소</div>
                                        <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["소재지도로명주소"]}</div>
                                    </div>
                                    <div style="height:20%;width:100%;display:flex;">
                                        <div class="small_div" style="width: 30%;">세차장 전화번호</div>
                                        <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["세차장전화번호"]}</div>
                                    </div><div style="height:20%;width:100%;display:flex;">
                                        <div class="small_div" style="width: 30%;">수질 허가번호</div>
                                        <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["수질허가번호"]}</div>
                                    </div><div style="height:20%;width:100%;display:flex;">
                                        <div class="small_div" style="width: 30%;">위도</div>
                                        <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["WGS84위도"]}</div>
                                    </div><div style="height:20%;width:100%;display:flex;">
                                        <div class="small_div1" style="width: 30%;">경도</div>
                                        <div class="small_div1 small_div2" style="width: 70%;box-shadow: 0px 0px 0px 0px gray;">${car_washer_name[local][i]["WGS84경도"]}</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>`
                    }
                    else {
                        html += `<div class="line" style="background-color: white;">
                            <div style="position:reletive; width:10%;text-align:center">
                                ${i}
                            </div>
                            <div style="position:reletive; width:30%;text-align:center ">
                                ${car_washer_name[local][i]["사업장명"]}
                            </div>
                            <div style="position:reletive;text-align:center ;width:40%">
                                ${car_washer_name[local][i]["시도명"] + " " + car_washer_name[local][i]["시군구명"]}
                            </div>
                            <div class="detailBtn" style="position:reletive;text-align:center; width:20% " onclick="onClickDetail(this)">
                                ${"+"}
                            </div>  
                        </div>
                        <div class="DetailPage" style="background-color: white;">
                            <div class="detailDiv1">
                                <div class="contentDiv" style="margin-bottom:15px;height:10%">
                                    <div class="sidepos">
                                        <div >
                                            <i class="bi bi-hand-thumbs-up-fill"></i> ${rating[local][i]["like"]}
                                        </div>
                                        <div >
                                            <i class="bi bi-hand-thumbs-down"></i> ${rating[local][i]["dislike"]}
                                        </div>
                                    </div>
                                </div>
                                <div class="detailTable">
                                    <div style="height:20%;width:100%;display:flex;">
                                        <div class="small_div" style="width: 30%;">소재지 도로명 주소</div>
                                        <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["소재지도로명주소"]}</div>
                                    </div>
                                    <div style="height:20%;width:100%;display:flex;">
                                        <div class="small_div" style="width: 30%;">세차장 전화번호</div>
                                        <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["세차장전화번호"]}</div>
                                    </div><div style="height:20%;width:100%;display:flex;">
                                        <div class="small_div" style="width: 30%;">수질 허가번호</div>
                                        <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["수질허가번호"]}</div>
                                    </div><div style="height:20%;width:100%;display:flex;">
                                        <div class="small_div" style="width: 30%;">위도</div>
                                        <div class="small_div2" style="width: 70%;">${car_washer_name[local][i]["WGS84위도"]}</div>
                                    </div><div style="height:20%;width:100%;display:flex;">
                                        <div class="small_div1" style="width: 30%;">경도</div>
                                        <div class="small_div1 small_div2" style="width: 70%;box-shadow: 0px 0px 0px 0px gray;">${car_washer_name[local][i]["WGS84경도"]}</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>`
                    }
                }

            }
            $("#table").html(html);
        }

        $("#sel").change(function () {
            let setPageCount = 0;
            let html = `<li class="page-item disabled">
                <a class="page-link">이전</a>
            </li>`;
            let local = $(this).val();
            if (car_washer_name[local].length % 11 == 0) {
                setPageCount = parseInt(ranking_index[local].length / 11);
            }
            else {
                setPageCount = parseInt(ranking_index[local].length / 11) + 1;
            }
            for (let i = 1; i <= setPageCount; i++) {
                html += `
                <li class="page-item"><a class="page-link" href="#${i}" onclick="onClickPage()">${i}</a></li>`

            }
            //console.log(setPageCount);
            html += `<li class="page-item">
                <a class="page-link" href="#" style="color: gray;">다음</a>
            </li>`
            $(".pagination").html(html);
            let pathname = $(location).attr('hash');
            let index = 1;
            //console.log(index);
            onChangeLocal(local, index);

            $(".select_text").css({
                "display": "none"
            })

        })
        const onClickPage = () => {
            setTimeout(() => {
                let pathname = $(location).attr('hash');
                let local = $("#sel").val();
                let index = Number(String(pathname)[1]);
                if (local != "시") {
                    onChangeLocal(local, index);
                }
            })
        }

        const onClickDetail = (obj) => {
            if ($(obj).text() === "+") {
                $(obj).text("-")
                console.log($(obj).text());
                $(obj).parent().next().css({
                    "height": "300px",
                    "transition": "0.5s"
                })
            }
            else {
                $(obj).text("+")
                $(obj).parent().next().css({
                    "height": "0",
                    "transition": "0.5s"
                })
            }
            console.log("click");
        }

        $("#chat_btn").click(function () {
            $("#menu").addClass("open");
            $("#chat_btn").addClass("chat_btn");

        });
        // X버튼 클릭시 슬라이드 들어가면서 버튼은 생성됨
        $(".close").click(function () {
            $("#menu").removeClass("open");
            $("#chat_btn").removeClass("chat_btn");
        });
        //값선택
    </script>

</body>

</html>