<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap_css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- bootstrap_js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <!-- pagination -->
    <script type="text/javascript" src="/js/twbs-pagination/jquery.twbsPagination.js"></script>
    <title>shop-HOME</title>
    <style>
        @font-face {
            font-family: 'GongGothicMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        
        * {
            font-family: 'GongGothicMedium';
            font-weight: normal;
            font-style: normal;
            margin: 0;
            padding: 0;
        }
        
        hr {
            border: 1px solid rgb(139, 139, 139);
            margin: 0px 1px 0px 1px;
        }
        
        ul {
            list-style: none;
        }
        /* navbar */
        
        .navCss {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
        
        .navberM {
            margin: auto;
        }
        
        .navbar-brand {
            margin-left: 10px;
        }
        /* 광고 */
        
        .carousel-item>img {
            height: 400px;
            opacity: 0.3;
        }
        
        .carousel-caption>h4,
        .carousel-caption>p {
            font-weight: 600;
            color: #000;
        }
        /* 카테고리 */
        
        @media screen and (max-width:600px) {
            .dropdown>a {
                flex-direction: column;
            }
        }
        
        #drop {
            display: flex;
            justify-content: center;
        }
        
        .dropdown {
            margin: 20px 0px 10px 10px;
            display: flex;
            flex-direction: column-reverse;
        }
        
        .dropdown>a {
            text-decoration: none;
            border-radius: 0;
            border-radius: 5px;
            bottom: 10px;
        }
        
        .dropdown-menu>li>a {
            white-space: normal;
        }
        /* item list */
        
        #listTitle {
            text-align: center;
            margin: 20px 0 10px 0;
        }
        
        .row {
            margin-left: 20px;
            display: flex;
        }
        
        .list-item {
            display: inline-block;
        }
        
        .col-4 {
            border-radius: 5px;
            width: 200px;
            height: 300px;
            margin: 20px 20px 40px 20px;
            align-items: center;
        }
        
        .col-4>a>img {
            box-shadow: 0px 0px 5px gainsboro;
            margin-top: 10px 0 20px 0;
            align-items: center;
            width: 200px;
            height: 180px;
        }
        /* .item_icon {
            position: absolute;
            flex-direction: column;
            height: 80px;
            width: 20px;
            top: 620px;
        }
        
        .item_icon>img {
            height: 20px;
            width: 20px;
        } */
        
        .col-4>a>p {
            margin: 5px 20px 0px 20px;
        }
        
        .itemName {
            height: 80px;
            text-align: left;
            color: black;
        }
        
        .itemPrice {
            text-align: end;
            color: blue;
            margin-bottom: 10px;
            justify-content: space-between;
        }
        
        .itemPrice>img {
            height: 10px;
            width: 30px;
        }
        
        .col-4:hover {
            transform: scale(1.2)
        }
        /* 경고창 */
        
        #purchase {
            display: none;
        }
        /* 페이징*/
        
        .simple-pagination ul {
            padding: 0;
            list-style: none;
            text-align: center;
            margin-left: 10px;
        }
        
        .simple-pagination li {
            display: inline-block;
            margin: 2px;
        }
        
        .simple-pagination li a,
        .simple-pagination li span {
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: #fff;
            text-align: center;
            text-decoration: none;
            color: #252525;
            border-radius: 4px;
            margin: 5px;
            box-shadow: inset 0 5px 10px rgba(0, 0, 0, .1), 0 2px 5px rgba(0, 0, 0, .5);
            transition: all 1s ease;
        }
        
        .simple-pagination li a:hover {
            background: #000;
            color: #fff;
        }
        
        .simple-pagination .current {
            color: #fff;
            background-color: #000;
            border-color: rgb(255, 255, 255);
            border: 1px solid;
            cursor: pointer;
        }
        
        .simple-pagination .prev.current,
        .simple-pagination .next.current {
            background: #222;
            border: none;
        }
        
        #myTabContent {
            color: black;
        }
        /* 채팅기능 css */
        
        #chat_btn {
            position: fixed;
            right: 50px;
            bottom: 50px;
            width: 50px;
            height: 50px;
        }
        /* #chat {
            display: block;
            top: 0;
            left: 0;
            height: 840px;
        } */
        
        .chat_btn {
            display: none;
        }
        
        #chat_btn:hover {
            cursor: pointer;
        }
        
        .close {
            width: 50px;
            height: 50px;
            position: absolute;
            right: 35px;
            top: -5px;
            z-index: 1;
            background-image: url("https://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/close.png");
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
        
        #menu {
            width: 350px;
            height: 100vh;
            position: fixed;
            top: 0px;
            right: -352px;
            z-index: 10;
            border: 1px solid #c9c9c9;
            background-color: white;
            text-align: center;
            transition: All 0.2s ease;
            -webkit-transition: All 0.2s ease;
            -moz-transition: All 0.2s ease;
            -o-transition: All 0.2s ease;
            overflow: scroll;
        }
        
        #menu {
            -ms-overflow-style: none;
        }
        
        #menu::-webkit-scrollbar {
            display: none;
        }
        
        #menu.open {
            right: 0px;
        }
        /* footer */
        
        .jumbotron {
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 0;
            padding: 4rem 2rem;
            background-color: #e9ecef;
            border-radius: 0.3rem;
        }
    </style>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="" class="navbar-brand">Foambble Bobble</a>
        <!-- Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav navbarM">
                <li class="nav-item"><a href="/search" class="nav-link">세차장 조회</a></li>
                <li class="nav-item"><a href="/shop" class="nav-link">상점</a></li>
                <li class="nav-item"><a href="/ranking" class="nav-link">랭킹</a></li>
                <li class="nav-item"><a href="/club" class="nav-link">동호회</a></li>
            </ul>
        </div>
    </nav>
    <!-- carousel -->
    <!-- 광고 -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/item/advertisement0.jpg" class="d-block w-100 " alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h4>셀프세차를 위한 모든 용품!!</h4>
                    <p>하나하나 찾아 다니며 구매하시기 어려우실때 이곳에서 구매하세요 :)</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/item/advertisement1.jpg" class="d-block w-100 " alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h4>외/내장 관리뿐민이 아니다?!</h4>
                    <p>셀프세차를 좀 더 편리하게 할 수 있도록 하는 용품도 존재한다는 사실!! </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/item/advertisement2.jpg" class="d-block w-100 " alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h4>초보자도 고민하지 마라</h4>
                    <p>인기 있는 상품들로만 이루어진 shop !!</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- dropdown-->
    <!-- 카테고리 -->
    <div id="drop">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            외 장 관 리
        </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item " href="#shampo">카샴푸/폼샴푸</a></li>
                <li><a class="dropdown-item" href="#btca">버그/타르/철분/APC</a></li>
                <li><a class="dropdown-item" href="#washing">세정제/광택제</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            내 장 관 리
        </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#protect">직물세정&보호/가죽세정&보호</a></li>
                <li><a class="dropdown-item" href="#remove">유막제거</a></li>
                <li><a class="dropdown-item" href="#coating">유리세정/코팅</a></li>
                <li><a class="dropdown-item" href="#inside">기타 실내관리</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            왁 스 / 코 팅
        </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#solidWax">고체/리퀴드왁스</a></li>
                <li><a class="dropdown-item" href="#waterWax">물왁스/퀵디테일러</a></li>
                <li><a class="dropdown-item" href="#plastic">외장플라스틱 보호제</a></li>
                <li><a class="dropdown-item" href="#glass">유리막코팅/관리제</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            세 차 타 월
        </a>


            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#dryingT">드라잉타월</a></li>
                <li><a class="dropdown-item" href="#buffingT">버핑타월</a></li>
                <li><a class="dropdown-item" href="#glassT">유리타월</a></li>
                <li><a class="dropdown-item" href="#versatileT">다용도타월</a></li>
                <li><a class="dropdown-item" href="#Tcleaner">타월세정제</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            기 타 용 품
        </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#sponge">워시미트/스펀지</a></li>
                <li><a class="dropdown-item" href="#bucket">워시버킷/그릿가드</a></li>
                <li><a class="dropdown-item" href="#brush">브러쉬</a></li>
                <li><a class="dropdown-item" href="#arrangement">소분/분무기/정리함</a></li>
            </ul>
        </div>
    </div>

    <hr>
    <h1 id="listTitle">카샴푸/폼샴푸</h1>
    <!-- grid -->
    <!-- col hover 시 확대 + text 대신 col click 시 page move -->
    <!-- 상품 목록 -->
    <div class="container text-center">
        <div class="row">
            <ul class="list-wrapper">
                <% for(var i = 0; i < sn.length; i++) { %>
                    <li class="list-item">
                        <div class=" col-4">
                            <a href="/shop_item?img=<%=sn[i].item_img%>&name=<%=sn[i].name%>&price=<%=sn[i].price%>&infor=<%=sn[i].infor_img%>" style="text-decoration: none;">
                                    <img src="<%=sn[i].item_img %>" alt="">
                                    <!-- <div class="item_icon">
                                        <img src="/static/img/itemIcon0.png" alt="">
                                        <img src="/static/img/itemIcon1.png" alt="">
                                        <img src="/static/img/itemIcon2.png" alt="">
                                    </div> -->
                                    <hr>
                                        <p class="itemName">
                                            <%=sn[i].name%>
                                        </p>
                                        <hr>
                                        <p class="itemPrice">
                                            <img src="/ProjectFil/static/img/ico_point5.gif" alt="">
                                            <%=sn[i].price%>
                                        </p>
                                </a>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
        <!-- pagination -->

        <div id="pagination-container"></div>
    </div>
    <br>
    <!--chat -->
    <div id="menu">
        <div class="close"></div>
        <div class="container">
            <img id="chat_btn" src="/static/img/chatimg.png" alt="">
            <iframe id="chat" src="https://service.dongledongle.com/carwashchat" frameborder="0" width="100%" height="900vh"></iframe>
        </div>
    </div>
    </div>

    <!-- footer -->

    <div class="jumbotron">

        <h3 class="text-secondary">Foambble Bobble</h3>
        <p>Foambble Bobble Homepage is Designed by <span class="text-primary">6 group</span></p>

    </div>
    <!-- pagination.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>

    <script>
        // 채팅
        // 버튼 클릭시 우측에서 슬라이드 나오면서 버튼은 사라짐
        $("#chat_btn").click(function() {
            $("#menu").addClass("open");
            $("#chat_btn").addClass("chat_btn");

        });
        // X버튼 클릭시 슬라이드 들어가면서 버튼은 생성됨
        $(".close").click(function() {
            $("#menu").removeClass("open");
            $("#chat_btn").removeClass("chat_btn");
        });

        // 카테고리
        $(".dropdown-item").on("click", function() {

        });
        // paging
        let items = $('.list-wrapper .list-item');
        let numItems = items.length;
        let perPage = 10;

        items.slice(perPage).hide();

        $('#pagination-container').pagination({
            items: numItems,
            itemsOnPage: perPage,
            prevText: "<",
            nextText: ">",
            onPageClick: function(pageNumber) {
                let showFrom = perPage * (pageNumber - 1);
                let showTo = showFrom + perPage;
                items.hide().slice(showFrom, showTo).show();
            }
        });
    </script>
</body>

</html>